;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [
  [djblue/portal "0.51.0"]
 ]
 :nrepl {:port 8702
         :middleware [portal.nrepl/wrap-portal]}
 
 :builds
 {:app
  {:target :browser
   :modules {:main {:init-fn featha.app/init}}}}}